$p_color: white;

.bar {
    background-color: #191724;
    color: white;
    border-radius: 10px;
    opacity: 0.9;
}

.power-w{
    padding-right: 10px;
}

.power-c{
    color: #bf616a;
    padding-right: 10px;
}

.media-w{
    padding-right: 10px;
}
